/build/
/build_scon/
/cmake-build-release-remote-host/
/cmake-build-debug-remote-host/
/cmake-build-debug-visual-studio/
/.vs/
/.vscode/launch.json
/.idea/
/out/
/bak/
__pycache__
.sconsign.dblite
conan.lock
conanbuildinfo.txt
conaninfo.txt
graph_info.json